
.wrapper{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
#resumeimg {
	margin-top: 20px;
	
}

.wrapper > * {
	padding: 0px;
	margin: 10px;
	flex: 1 100%;
	border-radius: 5px;
}
nav {
	background: rgb(33, 129, 255);
	height: 90px;
	width: 100%;
}
label.logo {
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 0 100px;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{ 
	display: inline-block;
	line-height: 80px;
	margin: 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 3px;

}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	display: none;
}
#check{
	display: none;
}
a.active,a:hover{
	background: deepskyblue;
	transition: .5s;
}
.footer{
	background: rgb(33, 129, 255);
	height: 80px;
	margin: 4px;
}
#workimg {
	height: 330px;
	width: 700px;
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.avatar {
	font-family: sans-serif;
	text-align: center;

	max-width: 200px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;

}
.avatar-name{
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}
.avatar-title {
	margin-bottom: 20px;
}
.avatar-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;
}
#avatarimg {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	object-fit: cover;
	margin: 0 auto 20px auto;
	display: block;
}

.work {
	text-align: left;
	/*background: deepskyblue;*/
	height: 800px;
	font-size: 24px;
	flex: 1;
	/*border-left: black solid 2px;*/
	margin: 4px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-me{
	/*background: gold;*/
	flex: 1;
	/*border-left: black solid 2px;*/
	margin: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	
}
.resume{
	/*background: hotpink;*/
	flex: 1;
	/*border-left: black solid 2px;*/
	margin: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-me{
	/*background: rgb(30, 255, 0);*/
	flex: 1;
	/*border-left: black solid 2px;*/
	margin: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 800px) {
	.work {
		flex: 4;
	}
	.about-me{
		order: 1;
	}
	.resume{
		order: 2;
	}
	.contact-me{
		order: 3;
	}
	.work{
		order: 4;
	}
	.footer{
		order: 5;
	}
}



@media screen and (max-width : 800px) {
	.wrapper {
		flex-direction: column;
	}
}

.foots {
	margin: 20px;
	display: inline-block;
	float: right;
	padding-right: 50px;
	padding-top: 20px;
}

#contactimg{
	height: 200px;
}
#mail {
	margin-right: 50px;
	color: cornsilk;
	padding: 10px;
}
#phone {
	color: cornsilk;
	padding: 10px;
}
